/* CSS Document
*
* @autor Fernanda Pieretti
* @data ago2016
* @ref base.css
*
*/

@font-face {
    font-family: 'Hind Madurai Bold';
    src: url('fonts/hindmadurai-bold-webfont.eot');
    src: url('fonts/hindmadurai-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hindmadurai-bold-webfont.woff2') format('woff2'),
         url('fonts/hindmadurai-bold-webfont.woff') format('woff'),
         url('fonts/hindmadurai-bold-webfont.ttf') format('truetype'),
         url('fonts/hindmadurai-bold-webfont.svg#Hind Madurai Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind Madurai Medium';
    src: url('fonts/hindmadurai-medium-webfont.eot');
    src: url('fonts/hindmadurai-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hindmadurai-medium-webfont.woff2') format('woff2'),
         url('fonts/hindmadurai-medium-webfont.woff') format('woff'),
         url('fonts/hindmadurai-medium-webfont.ttf') format('truetype'),
         url('fonts/hindmadurai-medium-webfont.svg#hind_maduraimedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{margin:0;padding:0;border:none;outline:none}
html,body,input,select,textarea{color:#535353;font-family:'Source Sans Pro',sans-serif;font-weight:300;font-size:14px}
h1,h2,h3,h4,h5,h6,p{display:block;cursor:default}
ul,ol{list-style:none}
a{color:inherit}
a img{border:none}
img{max-width:100%}
