/* CSS Document
*
* @autor Fernanda Pieretti
* @data ago2016
* @ref styles.css
*
*/

#header{width:100%;height:auto;float:left;clear:both;padding:30px 0;background:#f7f7f7;border-bottom:3px solid #f37c1a}
#header p.filiacao{display:inline-block;vertical-align:top;margin-left:20px;color:#939398;font-size:13px}
#header p.filiacao img{display:inline-block;vertical-align:top;margin:10px 10px 0 0}
#header p.redes{display:inline-block;vertical-align:top;margin:0 65px 0 5px}
#header p.redes a{margin:0 -4px}
#header p.redes a.sms{color:#fff;background:#f37c1a;font-size:13px;font-family:'Hind Madurai Medium',sans-serif;border-radius:3px;padding:3px 7px 4px 0;margin:0 3px}
#header form{display:inline-block;vertical-align:top;float:right;width:225px;height:30px;border-bottom:1px solid #e2e2e2;padding-bottom:5px;position:relative}
#header form input[type=text]{display:inline-block;vertical-align:middle;width:200px;height:25px;line-height:20px;border:none;background:none}
#header form button{float:right;margin-top:5px;background:none;border:none;color:#f37c1a;cursor:pointer;font-size:16px}

#header #menuDesktop{display:block;text-align:right;clear:both;margin-top:15px}
#header #menuDesktop li{display:inline-block;margin-left:22px;position:relative}
#header #menuDesktop li:first-child{margin-left:0}
#header #menuDesktop li a{text-decoration:none;color:#28292c;font-size:19px;font-family:'Hind Madurai Bold',sans-serif;display:block;line-height:16px;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#header #menuDesktop li a:hover{color:#f37c1a;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#header #menuDesktop li .dropDown{display:none;position:absolute;z-index:1;top:100%;left:0;text-align:left;min-width:150px;padding-top:15px}
#header #menuDesktop li .dropDown:after{content:'';width:0;height:0;top:5px;left:10px;position:absolute;z-index:1;border:5px solid transparent;border-bottom-color:#f37c1a}
#header #menuDesktop li .dropDown a{font-size:12px;background:#f7f7f7;padding:1px 10px}
#header #menuDesktop li .dropDown a:first-child{border-top:3px solid #f37c1a;padding-top:10px}
#header #menuDesktop li .dropDown a:last-child{padding-bottom:10px}
#header #menuDesktop li:hover .dropDown{display:block}

#header #menuDropDown{display:none;float:right;cursor:pointer}
#header #menuMobile{display:none;width:100%;height:auto;text-align:left;margin-top:15px}
#header #menuMobile li{display:block;margin:10px 0}
#header #menuMobile li a{text-decoration:none;color:#28292c;font-size:16px;line-height:16px;font-family:'Hind Madurai Bold',sans-serif;display:block}
#header #menuMobile li a:hover{color:#f37c1a}
#header #menuMobile li .dropDown{display:block}
#header #menuMobile li .dropDown a{display:inline;font-size:12px;text-transform:lowercase}

#header a{display:inline-block;vertical-align:text-bottom;font-size:22px;text-decoration:none;color:#f37c1a}
#header a.logo{margin-top:20px}
#header a.lock{display:inline-block;margin-top:3px}

#banner{width:100%;height:auto;float:left;clear:both;margin:30px 0 0;text-align:center}

#conteudo{width:100%;height:auto;float:left;clear:both;margin:30px 0 0}

#conteudo.home #noticia-slider .owl-prev{background:url(../_imagens/site/seta-esquerda.png) no-repeat center;left:10px}
#conteudo.home #noticia-slider .owl-next{background:url(../_imagens/site/seta-direita.png) no-repeat center;right:10px}

#conteudo.home .noticia-principal{width:100%;height:auto;display:block;color:#fff;text-decoration:none}
#conteudo.home .noticia-principal img{width:100%;display:block}

#conteudo.home .noticia-secundaria{width:100%;height:auto;display:block;text-decoration:none}
#conteudo.home .noticia-secundaria b{display:block;font-size:28px;font-family:'Hind Madurai Bold',sans-serif;line-height:28px;color:#0a0b0d}
#conteudo.home .noticia-secundaria span{display:block;font-size:17px;color:#535353;margin-top:10px}
#conteudo.home .noticia-secundaria small{display:block;font-size:13px;color:#f37c1a;margin-bottom:10px}

#conteudo.home .mais-noticias{width:100%;height:auto;display:block;text-decoration:none;margin-top:25px}
#conteudo.home .mais-noticias small{display:block;font-size:13px;color:#f37c1a;margin:5px 0}
#conteudo.home .mais-noticias b{display:block;font-size:17px;font-family:'Hind Madurai Bold',sans-serif;line-height:20px;color:#0a0b0d}

#conteudo.home .informativo{display:block;font-size:17px;font-family:'Hind Madurai Bold',sans-serif;line-height:20px;color:#0a0b0d;padding:20px;color:#fff;text-decoration:none}
#conteudo.home .informativo b{display:inline-block;font-family:'Hind Madurai Bold',sans-serif;font-size:26px}
#conteudo.home .informativo span{display:block;float:right;width:23px;height:23px;line-height:23px;font-size:20px;text-align:center;font-family:'Hind Madurai Bold',sans-serif;background:#000;border-radius:5px}
#conteudo.home .informativo img{display:block;margin:15px auto 10px}
#conteudo.home .informativo small{display:table;font-size:14px;font-family:'Hind Madurai Bold',sans-serif;background:#000;border-radius:5px;padding:2px 10px;margin:auto}

#conteudo.home .destaques h2{font-size:30px;color:#f37c1a;display:inline-block;cursor:default;margin-bottom:10px}
#conteudo.home .destaques hr{margin:20px 0}
#conteudo.home .destaques .ver-todos{float:right;font-style:italic;text-decoration:underline;line-height:38px}
#conteudo.home .destaques .destaque{display:block;text-decoration:none}
#conteudo.home .destaques .destaque img{display:block;width:120px;float:left;margin-right:10px}
#conteudo.home .destaques .destaque small{display:block;color:#f37c1a;font-size:13px;text-transform:uppercase}
#conteudo.home .destaques .destaque b{display:block;color:#28292c;font-size:17px;font-family:'Hind Madurai Bold',sans-serif;margin-top:5px}
#conteudo.home .destaques .destaque span{display:block;color:inherit;font-size:14px;margin-top:10px}

#conteudo.home .galerias{display:block;clear:both}
#conteudo.home .galerias h2{font-size:30px;color:#060606;display:inline-block;cursor:default;margin-bottom:10px}
#conteudo.home .galerias .ver-todos{float:right;font-style:italic;text-decoration:underline;line-height:38px;color:#f37c1a}
#conteudo.home .galerias .galeria{width:100%;height:auto;float:left;clear:both}
#conteudo.home .galerias .galeria a{width:33%;height:270px;float:left}
#conteudo.home .galerias .galeria a img{width:100%;display:block}

#conteudo.home .item-link{display:block;text-decoration:none;text-align:center;font-size:14px;color:#535353;margin-top:40px}
#conteudo.home .item-link b{display:block;color:#f37c1a;font-family:'Hind Madurai Bold',sans-serif;font-size:20px;margin:10px 0}

#conteudo.home .denuncias{display:block;position:relative;text-decoration:none}
#conteudo.home .denuncias img{display:block;width:100%}
#conteudo.home .denuncias span{color:#fff;font-size:20px;font-family:'Hind Madurai Bold',sans-serif;line-height:40px}
#conteudo.home .denuncias span b{font-size:50px;display:block}
#conteudo.home .denuncias small{display:inline-block;font-size:14px;background:#881d17;border-radius:5px;padding:4px 10px;font-weight:400;margin-top:20px;line-height:normal}

#conteudo.home .parceiros h2{font-size:30px;color:#060606;display:inline-block;cursor:default;margin-bottom:10px}
#conteudo.home .parceiros #parceiros-slider{margin-top:20px;text-align:center}
#conteudo.home .parceiros #parceiros-slider img{width:auto;height:50px;display:inline-block;margin:10px}
#conteudo.home .parceiros #parceiros-slider .item{margin-top:0}
#conteudo.home .parceiros #parceiros-slider .owl-prev{background:url(../_imagens/site/seta-esquerda-laranja.png) no-repeat center;left:0}
#conteudo.home .parceiros #parceiros-slider .owl-next{background:url(../_imagens/site/seta-direita-laranja.png) no-repeat center;right:0}

#conteudo.home .categoria-destaque{display:block;color:#fff;margin-bottom:20px}
#conteudo.home .categoria-destaque span.cat{display:block;position:absolute;z-index:1;top:25px;left:20px;background:#f37c1a;font-size:14px;padding:3px 10px}
#conteudo.home .categoria-destaque small{display:inline-block;font-size:14px;background:#f37c1a;border-radius:5px;padding:4px 10px;font-weight:400;margin:10px 0 0;line-height:normal}
#conteudo.home .categoria-destaque b{font-size:30px}
#conteudo.home .categoria-destaque .layer{padding:20px}

#conteudo.home .videos{display:block;margin-bottom:20px}
#conteudo.home .videos h2{font-size:30px;color:#f37c1a;display:inline-block;cursor:default}
#conteudo.home .videos img{display:block;border:5px solid #f5f5f5;width:100%}
#conteudo.home .videos .ver-todos{display:inline-block;font-size:14px;background:#010101;border-radius:5px;padding:4px 10px;font-weight:400;margin-top:5px;line-height:normal;color:#fff;text-decoration:none;float:right}

#conteudo.home .nacionais{display:block;margin-bottom:20px}
#conteudo.home .nacionais h2{font-size:25px;color:#060606;display:table;cursor:default;margin-bottom:10px;font-family:'Hind Madurai Bold',sans-serif}
#conteudo.home .nacionais .ver-todos{display:block;color:#fff;text-decoration:none;float:right;width:23px;height:23px;line-height:23px;font-size:20px;text-align:center;font-family:'Hind Madurai Bold',sans-serif;background:#000;border-radius:5px}
#conteudo.home .nacionais .noticia{position:relative;display:block;text-decoration:none;color:#28292c;font-size:17px}
#conteudo.home .nacionais .noticia small{position:absolute;z-index:1;padding:10px;background-color:#f37c1a;background-position:10px 10px;color:#fff}
#conteudo.home .nacionais .noticia img{display:block;width:100%;margin-bottom:10px}

#conteudo.home .newsletter{display:block;margin-top:40px;margin-bottom:20px;padding:20px;background:#f2f2f2;position:relative}
#conteudo.home .newsletter:after{content:'';width:70px;height:70px;position:absolute;z-index:1;top:-25px;right:0;background:url(../_imagens/site/icon-newsletter.png) no-repeat center}
#conteudo.home .newsletter h2{font-family:'Hind Madurai Bold',sans-serif;color:#545f80;font-size:30px}
#conteudo.home .newsletter form input[type=text]{width:100%;height:33px;line-height:33px;text-indent:10px;border:1px solid #cccccc;margin-top:5px}
#conteudo.home .newsletter form input[type=submit]{display:inline-block;font-size:14px;background:#f37c1a;color:#fff;border-radius:5px;padding:4px 10px;font-weight:400;margin-top:5px;cursor:pointer}

#conteudo.home .enquete{display:block;background:#f37c1a}
#conteudo.home .enquete h2{display:block;font-size:16px;line-height:15px;color:#fff;background:#231f20 url(../_imagens/site/icon-enquete.png) no-repeat -17px center;padding:20px 0 20px 55px}
#conteudo.home .enquete form{display:block;padding:20px}
#conteudo.home .enquete form label{display:block;color:#fff;font-size:15px}
#conteudo.home .enquete form input[type=submit],#conteudo.home .enquete form input[type=button]{display:inline-block;font-size:14px;background:#df4400;color:#fff;border-radius:5px;padding:4px 10px;margin-top:20px;font-weight:400;cursor:pointer}
#conteudo.home .enquete form input[type=button]{background:#231f20;margin-left:10px}

#footer{width:100%;height:auto;float:left;clear:both;margin:30px 0 0;padding:0 0 40px;background:#1a1b1e;border-top:3px solid #f37c1a}
#footer h2{display:block;color:#f37c1a;font-size:20px;font-family:'Hind Madurai Bold',sans-serif}
#footer p,#footer p a{display:block;color:#fff;font-size:15px;text-decoration:none}
#footer p{margin-top:10px;line-height:22px;max-width:220px}
#footer img{display:inline-block;vertical-align:middle}
#footer .col{display:inline-block;vertical-align:top;margin:40px 0 0 65px}
#footer .col:first-child{margin-left:0}
#footer .col:first-child +.col{margin-left:20px}

#copy{width:100%;height:auto;float:left;clear:both;padding:15px 0;background:#151619}
#copy p{font-size:14px;color:#7b7b7c;line-height:31px}
#copy img{float:right}

hr{width:100%;display:block;float:left;clear:both;border-top:1px solid #f2f2f2;margin:30px 0}

.gradient-pt{background:transparent;background:-webkit-linear-gradient(transparent, black);background:-o-linear-gradient(transparent, black);background:-moz-linear-gradient(transparent, black);background: linear-gradient(transparent, black)}
.gradient-lr{background:#f37c1a;background:-webkit-linear-gradient(#f37c1a, #f05b00);background:-o-linear-gradient(#f37c1a, #f05b00);background:-moz-linear-gradient(#f37c1a, #f05b00);background: linear-gradient(#f37c1a, #f05b00)}
.zoom{position:relative;overflow:hidden}
.zoom img{width:100%;display:block;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
.zoom:hover img{-webkit-transform:scale(1.5);-moz-transform: scale(1.5);-ms-transform: scale(1.5);-o-transform: scale(1.5);transform: scale(1.5);-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
.layer{width:100%;height:auto;position:absolute;z-index:1;left:0;bottom:0;padding:20px 30px}
.layer small{display:block;margin-bottom:10px;font-size:13px;color:#fff}
.layer b{display:block;font-size:19px;font-family:'Hind Madurai Bold',sans-serif;line-height:22px;color:#fff}

/* Responsivo */

@media (max-width: 767px) {
	#header a.logo{margin-top:3px}
	#header a.logo img{height:25px}
	#header p.filiacao,#header p.redes,#header a.lock,#header #menuDesktop{display:none}
	#header #menuDropDown{display:block}
	#header #menuMobile.ativo{display:block}
	#header form{display:none;float:none;width:100%;clear:both;margin-top:15px}
	#header form input[type=text]{width:80%}

	#conteudo.home .noticia-principal{height:auto;width:100%}
	#conteudo.home .noticia-principal img{height:auto;width:100%;min-height:auto}
	
	#conteudo.home .noticia-secundaria{margin-top:30px}
	#conteudo.home .noticia-secundaria b{font-size:20px}
	#conteudo.home .noticia-secundaria span{font-size:14px;margin-top:0}
	#conteudo.home .mais-noticias img{width:100%}
	#conteudo.home .mais-noticias small{margin-top:5px}
	
	#conteudo.home .destaques{margin-top:30px}
	#conteudo.home .destaques .destaque{margin-top:15px}
	#conteudo.home .destaques .destaque span{margin-top:5px}
	
	#conteudo.home .galerias .galeria a{width:100%;height:auto}
	
	#conteudo.home .parceiros{margin:30px 0}
	
	#footer p{margin:0}
	#footer .col{width:100%;margin:0 !important;padding:20px}
	#footer .col:first-child{display:none}
	
	#copy{text-align:center}
	#copy img{float:none}
	#copy p{line-height:normal;margin-bottom:20px}
	
	.layer b{font-size:14px;line-height:18px}
}

@media (max-width: 480px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	#header a.logo{margin-top:22px}
	#header a.logo img{height:24px}
	#header p.redes{margin-right:20px}
	#header p.filiacao{margin-left:8px}
	#header p.filiacao img{margin:5px 5px 0 0;height:25px}
	#header form{width:30px}
	#header form input[type=text]{position:absolute;z-index:1;width:0;height:30px;right:30px;border-bottom:1px solid #e2e2e2;background:#fff;text-indent:10px;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
	#header form:hover{background:#fff}
	#header form:hover input[type=text]{width:140px;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
	#header #menuDesktop{margin-top:10px}
	#header #menuDesktop li{margin-left:11px}
	#header #menuDesktop li a{font-size:12px}
	#header #menuDesktop li .dropDown{min-width:120px}
	#header #menuDesktop li .dropDown a{font-size:11px}
	
	#conteudo.home .noticia-principal{height:220px}
	#conteudo.home .noticia-principal img{min-height:220px}
	#conteudo.home .noticia-secundaria b{font-size:16px;line-height:19px}
	#conteudo.home .noticia-secundaria span{font-size:12px;margin-top:0}
	
	#conteudo.home .mais-noticias{margin-top:5px}
	#conteudo.home .mais-noticias b{font-size:10px;line-height:12px}
	#conteudo.home .mais-noticias small{margin:2px 0}
	
	#conteudo.home .informativo b{font-size:15px}
	#conteudo.home .informativo span{display:none}
	
	#conteudo.home .destaques .destaque b,#conteudo.home .destaques .destaque small,#conteudo.home .destaques .destaque span{font-size:12px;margin:0 0 2px}
	#conteudo.home .destaques .destaque img{width:70px}
	
	#conteudo.home .videos h2,#conteudo.home .destaques h2,#conteudo.home .galerias h2{font-size:22px}
	#conteudo.home .videos .ver-todos{width:20px;height:20px;text-indent:-999px;position:relative}
	#conteudo.home .videos .ver-todos:after{content:'+';position:absolute;z-index:1;top:0;left:0}
	#conteudo.home .videos iframe{height:150px}
		
	#conteudo.home .nacionais h2{font-size:20px}
	#conteudo.home .nacionais .noticia{font-size:13px}
	
	#conteudo.home .galerias .galeria a{height:175px}
	
	#conteudo.home .item-link{font-size:12px}
	#conteudo.home .item-link b{font-size:16px}
	
	#conteudo.home .denuncias .layer{padding:10px}
	#conteudo.home .denuncias small{margin-top:10px}
	#conteudo.home .denuncias span{font-size:14px;line-height:28px}
	#conteudo.home .denuncias span b{font-size:35px}
	
	#conteudo.home .parceiros #parceiros-slider{margin-top:0}
	#conteudo.home .parceiros #parceiros-slider img{height:30px}
	
	#conteudo.home .categoria-destaque b{font-size:14px}
	#conteudo.home .categoria-destaque span.cat{font-size:12px}
	#conteudo.home .categoria-destaque small{display:none}
	
	#conteudo.home .newsletter h2{font-size:20px}
	#conteudo.home .newsletter:after{display:none}
	#conteudo.home .newsletter form input[type=submit]{width:100%;float:none}
	
	#conteudo.home .enquete form{padding:10px}
	#conteudo.home .enquete form input[type=submit]{font-size:11px}	
	#conteudo.home .enquete form input[type=button]{font-size:11px;margin-left:5px}
	
	#conteudo.home .noticia-secundaria small,#conteudo.home .mais-noticias small,#conteudo.home .nacionais .noticia small,#conteudo.home .destaques .destaque small,.layer small{font-size:10px}
	
	#footer p{font-size:13px;margin:5px 0}
	#footer p a{font-size:13px}
	#footer .col{margin-left:26px}
	#footer .col:last-child{margin-left:0;display:block;text-align:center}
	#footer .col:last-child p{margin:10px auto 0}

	.layer{padding:20px}
	.layer b{font-size:15px;line-height:18px}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#header a.logo{margin-top:22px}
	#header a.logo img{height:30px}
	#header p.redes{margin-right:20px}
	#header p.filiacao{margin-left:15px}
	#header p.filiacao img{margin:5px 5px 0 0}
	#header form{width:170px}
	#header form input[type=text]{width:145px}
	#header #menuDesktop{margin-top:10px}
	#header #menuDesktop li{margin-left:15px}
	#header #menuDesktop li a{font-size:16px}
	
	#conteudo.home .noticia-secundaria b{font-size:23px}
	#conteudo.home .noticia-secundaria span{font-size:14px;margin-top:0}
	
	#conteudo.home .mais-noticias{margin-top:15px}
	#conteudo.home .mais-noticias small{margin:5px 0}
	#conteudo.home .mais-noticias b{font-size:12px;line-height:15px}
	
	#conteudo.home .informativo b{font-size:18px}
	
	#conteudo.home .destaques .destaque b{font-size:15px}
	#conteudo.home .destaques .destaque img{width:80px}
	#conteudo.home .destaques .destaque span{font-size:13px;line-height:15px}
	
	#conteudo.home .galerias .galeria a{height:215px}
	
	#conteudo.home .categoria-destaque b{font-size:20px}
	
	#conteudo.home .videos h2,#conteudo.home .destaques h2{font-size:25px}
	
	#conteudo.home .newsletter{margin-top:50px}
	#conteudo.home .newsletter:after{top:-40px}
	#conteudo.home .newsletter h2{font-size:20px}
	
	#conteudo.home .nacionais h2{font-size:20px}
	#conteudo.home .nacionais .ver-todos{margin-top:0}
	
	#conteudo.home .parceiros #parceiros-slider{margin-top:0}
	
	#conteudo.home .item-link b{font-size:16px}
	
	#footer p, #footer p a{font-size:13px}
	#footer .col{margin-left:26px}
	
	#conteudo.home .noticia-secundaria small,#conteudo.home .mais-noticias small,#conteudo.home .nacionais .noticia small,#conteudo.home .destaques .destaque small,.layer small{font-size:11px}
	
	.layer{padding:20px}
	.layer b{font-size:15px;line-height:18px}


}

@media (min-width: 1200px) {
	
}